<h1><%= @user.full_name %>'s Profile</h1>
<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @user %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
      
          <tr>
            <td><strong>Name: </strong> <%= @user.full_name %></td>
            <td><strong>Email: </strong> <%= @user.email %></td>
            <td><strong>Actions: 
               <% if current_user.not_friends_with?(@user.id) %>
                <%= link_to 'follow', friendships_path(user: current_user, friend: @user.first_name),
                                      class: "btn btn-sm btn-success", method: :post %>
              <% else %>
                <span class="badge badge-secondar">
                  You are friends
                </span>
                                     
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= render 'layouts/table' %>